<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Test Application for Codics</h3>

      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active" *ngIf="!authService.loggedIn">
              <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item" *ngIf="!authService.loggedIn">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <button class="btn btn-danger" *ngIf="authService.loggedIn" (click)="authService.logout()">Logout</button>
          </ul>
          <a class="nav-link forgot-pass" (click)="showForgotPasswordForm = true">Forgot Password?</a>
        </div>
      </nav>

      <form [formGroup]="forgotPasswordForm" *ngIf="showForgotPasswordForm">
        <div class="form-group">
          <label for="inputEmail1">Email address</label>
          <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" aria-describedby="url" formControlName="url">
        </div>
        <button type="submit" class="btn btn-primary" (click)="forgotPassword()" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </form>

      <router-outlet *ngIf="!showForgotPasswordForm"></router-outlet>
    </div>
  </div>
</div>
